.Rproj.user
.Rhistory
.RData
.Ruserdata

data_projects/template.html
data_projects/wine_quality_analysis/head.html
data_projects/wine_quality_analysis/nav.html
data_projects/wine_quality_analysis/style.css
data_projects/wine_quality_analysis/Wine_Quality_Analysis.Rmd
