body {
    /*background-color: cadetblue;*/
    background-color: #fffff3;
    /*background-image: url(https://dinostomatopie.com/images/dinos-stars.gif);*/
    color: black;
    padding: 15px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 1000px;
}

#home {
    max-width: 1000px;
    display: flex;
}
#homenav {
    float: left;
    text-align: right;
    max-width: 25%;
    margin-right: 10px;
    font-size: 1.28em;
}

#homeimage {
    max-height: 700px;
    max-width: 700px;
    width: 75%;
    height: auto;
}

#navlist li {
    padding: 8px;
    list-style-type: none;
}